@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

html{
    display: flex;
    background-image:url(images/15-the-witcher-anniversary-cd-projekt-red.htm) ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.main.class ul{
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;

}